---
import Section from "../Section.astro";
import { type TimelineItem } from "../../types/";

const data: TimelineItem[] = [
	{
		name: "Clai Payments",
		position: "Jr Development engineer",
		startYear: "2023",
		endYear: null,
		description:
			"Formo parte de un equipo de programadores que desarrollan y mantienen el sitio web de un producto encargado de la administración de tarjetas de crédito, débito y otros tipos. A la vez me encargo de crear y mantener programas desarrollados en el lenguaje RPGLE de IBM i.",
	},
];
---

<Section title="Experiencia laboral">
  <ul>
    {
      data.map(({ name, position, startYear, endYear, description}) => {
        const star = new Date(startYear).getUTCFullYear();
        const end = endYear != null ? new Date(endYear).getUTCFullYear() : "Actual";
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    {name}
                  </h3>
                  <h4>{position}</h4>
                </div>
                <div>
                  <time 
                    datetime={startYear}
                    data-title={startYear}>
                    {star}
                  </time>
                  {" - "}
                  <time 
                    datetime={endYear}
                    data-title={endYear}>
                    {end}
                  </time>
                </div>
              </header>
              <footer>
                <p>{description}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin-top: 1em;
  }

  article h3 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  article header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  article p {
    color: white;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
    text-indent: 0%;
  }

  footer {
    margin: 0;
  }
</style>
