---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const projects = await getCollection("projects");

const title = "Proyectos";
const description = "Proyectos";
---

<Layout title={title} description={description}>
  <div class="gif">
    <!--
    <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
  -->
  </div>
  <h2>Proyectos</h2>
  <ul role="list">
    {
      projects.map((project) => (
        <Card
          title={project.data.title}
          body={project.data.description}
          image={project.data.image.url}
          url={`/projects/${project.slug}`}
        />
      ))
    }
  </ul>
</Layout>
